.page-width{
    margin-left:auto;
    margin-right:auto;
    position:relative;
    padding-left:30px;
    padding-right:30px
}
.page-width::after{
    content:'';
    display:table;
    clear:both
}
@media screen and (min-width: 67.5em){
    .page-width{
        width:990px
    }
}
@media screen and (min-width: 46.875em) and (max-width: 67.4375em){
    .page-width{
        width:750px
    }
}
@media screen and (min-width: 67.5em){
    .page-width--fluid{
        width:100%;
        max-width:1230px
    }
}
.grid-container{
    margin-left:auto;
    margin-right:auto;
    position:relative
}
.grid-container::after{
    content:'';
    display:table;
    clear:both
}
@media screen and (min-width: 46.875em){
    .grid-container--equal-height{
        display:flex
    }
}
@media screen and (min-width: 67.5em){
    .grid-8{
        width:930px
    }
    .grid-push-8{
        margin-left:960px
    }
    .grid-7{
        width:810px;
        margin-right:30px
    }
    .grid-push-7{
        margin-left:840px
    }
    .grid-6{
        width:690px;
        margin-right:30px
    }
    .grid-push-6{
        margin-left:720px
    }
    .grid-5{
        width:570px;
        margin-right:30px
    }
    .grid-push-5{
        margin-left:600px
    }
    .grid-4{
        width:450px;
        margin-right:30px
    }
    .grid-push-4{
        margin-left:480px
    }
    .grid-3{
        width:330px;
        margin-right:30px
    }
    .grid-push-3{
        margin-left:360px
    }
    .grid-2{
        width:210px;
        margin-right:30px
    }
    .grid-push-2{
        margin-left:240px
    }
    .grid-1{
        width:90px;
        margin-right:30px
    }
    .grid-push-1{
        margin-left:120px
    }
}
@media screen and (min-width: 46.875em) and (max-width: 67.4375em){
    .grid-8{
        width:690px
    }
    .grid-push-8{
        margin-left:720px
    }
    .grid-7{
        width:600px;
        margin-right:30px
    }
    .grid-push-7{
        margin-left:630px
    }
    .grid-6{
        width:510px;
        margin-right:30px
    }
    .grid-push-6{
        margin-left:540px
    }
    .grid-5{
        width:420px;
        margin-right:30px
    }
    .grid-push-5{
        margin-left:450px
    }
    .grid-4{
        width:330px;
        margin-right:30px
    }
    .grid-push-4{
        margin-left:360px
    }
    .grid-3{
        width:240px;
        margin-right:30px
    }
    .grid-push-3{
        margin-left:270px
    }
    .grid-2{
        width:150px;
        margin-right:30px
    }
    .grid-push-2{
        margin-left:180px
    }
    .grid-1{
        width:60px;
        margin-right:30px
    }
    .grid-push-1{
        margin-left:90px
    }
}
@media screen and (min-width: 46.875em) and (max-width: 67.4375em){
    .grid--tablet-8{
        width:690px
    }
    .grid--tablet-push-8{
        margin-left:720px
    }
    .grid--tablet-7{
        width:600px;
        margin-right:30px
    }
    .grid--tablet-push-7{
        margin-left:630px
    }
    .grid--tablet-6{
        width:510px;
        margin-right:30px
    }
    .grid--tablet-push-6{
        margin-left:540px
    }
    .grid--tablet-5{
        width:420px;
        margin-right:30px
    }
    .grid--tablet-push-5{
        margin-left:450px
    }
    .grid--tablet-4{
        width:330px;
        margin-right:30px
    }
    .grid--tablet-push-4{
        margin-left:360px
    }
    .grid--tablet-3{
        width:240px;
        margin-right:30px
    }
    .grid--tablet-push-3{
        margin-left:270px
    }
    .grid--tablet-2{
        width:150px;
        margin-right:30px
    }
    .grid--tablet-push-2{
        margin-left:180px
    }
    .grid--tablet-1{
        width:60px;
        margin-right:30px
    }
    .grid--tablet-push-1{
        margin-left:90px
    }
}
.grid-item{
    float:left;
    position:relative
}
@media screen and (min-width: 46.875em){
    .grid-container--halves .grid-item:nth-child(2n){
        margin-right:0
    }
    .grid-container--halves .grid-item:nth-child(2n+1){
        clear:left
    }
    .grid-container--thirds .grid-item:nth-child(3n){
        margin-right:0
    }
    .grid-container--thirds .grid-item:nth-child(3n+1){
        clear:left
    }
    .grid-container--quarters .grid-item:nth-child(4n){
        margin-right:0
    }
    .grid-container--quarters .grid-item:nth-child(4n+1){
        clear:left
    }
    .grid-container--eights .grid-item:nth-child(8n){
        margin-right:0
    }
    .grid-container--eights .grid-item:nth-child(8n+1){
        clear:left
    }
}
@media screen and (max-width: 46.8125em){
    .grid-item{
        float:none
    }
    .grid-item.grid--mobile{
        float:left;
        display:block;
        margin-right:6.6666666667%;
        width:46.6666666667%;
        float:left
    }
    .grid-item.grid--mobile:last-child{
        margin-right:0
    }
    .grid-item.grid--mobile:nth-child(2n){
        margin-right:0
    }
    .grid-item.grid--mobile:nth-child(2n+1){
        clear:left
    }
    .grid-item.grid--mobile.grid--last+.grid-item{
        clear:none
    }
}
.grid--last{
    margin-right:0 !important
}
.grid--last+.grid-item{
    clear:both
}
@media screen and (min-width: 46.875em){
    .grid-item--fluid__quarter{
        float:left;
        display:block;
        margin-right:3.2258064516%;
        width:22.5806451613%
    }
    .grid-item--fluid__quarter:last-child{
        margin-right:0
    }
    .grid-item--fluid__third{
        float:left;
        display:block;
        margin-right:2.1276595745%;
        width:31.914893617%
    }
    .grid-item--fluid__third:last-child{
        margin-right:0
    }
    .grid-item--fluid__two-thirds{
        float:left;
        display:block;
        margin-right:2.1276595745%;
        width:65.9574468085%
    }
    .grid-item--fluid__two-thirds:last-child{
        margin-right:0
    }
    .grid-item--fluid__half{
        float:left;
        display:block;
        margin-right:3.2258064516%;
        width:48.3870967742%
    }
    .grid-item--fluid__half:last-child{
        margin-right:0
    }
}
@media screen and (min-width: 67.5em){
    .grid-container--wide{
        width:1440px;
        padding-left:255px;
        padding-right:255px;
        margin-left:-255px
    }
    .grid-item--wide.grid-8,.grid-8.grid--wide-right,.grid-8.grid--wide-left{
        width:1185px
    }
    .grid-item--wide.grid-7,.grid-7.grid--wide-right,.grid-7.grid--wide-left{
        width:1065px
    }
    .grid-item--wide.grid-6,.grid-6.grid--wide-right,.grid-6.grid--wide-left{
        width:945px
    }
    .grid-item--wide.grid-5,.grid-5.grid--wide-right,.grid-5.grid--wide-left{
        width:825px
    }
    .grid-item--wide.grid-4,.grid-4.grid--wide-right,.grid-4.grid--wide-left{
        width:705px
    }
    .grid-item--wide.grid-3,.grid-3.grid--wide-right,.grid-3.grid--wide-left{
        width:585px
    }
    .grid-item--wide.grid-2,.grid-2.grid--wide-right,.grid-2.grid--wide-left{
        width:465px
    }
    .grid-item--wide.grid-1,.grid-1.grid--wide-right,.grid-1.grid--wide-left{
        width:345px
    }
    .grid--wide-left{
        margin-left:-255px
    }
    .grid--wide-right{
        margin-right:-255px
    }
}
@media screen and (min-width: 46.875em) and (max-width: 67.4375em){
    .grid--wide-right{
        margin-right:0
    }
}
@media screen and (min-width: 46.875em){
    .grid-item--flush-half{
        width:50%
    }
    .grid-item--flush-third{
        width:33.3333333333%
    }
    .grid-item--flush-quarter{
        width:25%
    }
}
.grid-item--bordered{
    border-bottom:1px solid #dfe3e8
}
@media screen and (max-width: 46.8125em){
    .grid-item--bordered:last-child{
        border-bottom:0
    }
}
@media screen and (min-width: 46.875em){
    .grid-item--bordered{
        border-right:1px solid #dfe3e8
    }
    .grid-container--thirds .grid-item--bordered:nth-child(3n){
        border-right:0
    }
    .grid-container--thirds .grid-item--bordered:nth-last-child(-n+3){
        border-bottom:0
    }
    .grid-container--quarters .grid-item--bordered:nth-child(4n){
        border-right:0
    }
    .grid-container--quarters .grid-item--bordered:nth-last-child(-n+4){
        border-bottom:0
    }
    .grid-container--halves .grid-item--bordered:nth-child(2n){
        border-right:0
    }
    .grid-container--halves .grid-item--bordered:nth-last-child(-n+2){
        border-bottom:0
    }
}
@media screen and (min-width: 46.875em){
    .grid-item--margin-bottom{
        margin-bottom:1.875em
    }
}
@media screen and (min-width: 67.5em){
    .grid-content-10{
        float:left;
        display:block;
        margin-right:2.5641025641%;
        width:100%
    }
    .grid-content-10:last-child{
        margin-right:0
    }
    .grid-content-push-10{
        margin-left:102.5641025641%
    }
    .grid-content-9{
        float:left;
        display:block;
        margin-right:2.5641025641%;
        width:89.7435897436%
    }
    .grid-content-9:last-child{
        margin-right:0
    }
    .grid-content-push-9{
        margin-left:92.3076923077%
    }
    .grid-content-8{
        float:left;
        display:block;
        margin-right:2.5641025641%;
        width:79.4871794872%
    }
    .grid-content-8:last-child{
        margin-right:0
    }
    .grid-content-push-8{
        margin-left:82.0512820513%
    }
    .grid-content-7{
        float:left;
        display:block;
        margin-right:2.5641025641%;
        width:69.2307692308%
    }
    .grid-content-7:last-child{
        margin-right:0
    }
    .grid-content-push-7{
        margin-left:71.7948717949%
    }
    .grid-content-6{
        float:left;
        display:block;
        margin-right:2.5641025641%;
        width:58.9743589744%
    }
    .grid-content-6:last-child{
        margin-right:0
    }
    .grid-content-push-6{
        margin-left:61.5384615385%
    }
    .grid-content-5{
        float:left;
        display:block;
        margin-right:2.5641025641%;
        width:48.7179487179%
    }
    .grid-content-5:last-child{
        margin-right:0
    }
    .grid-content-push-5{
        margin-left:51.2820512821%
    }
    .grid-content-4{
        float:left;
        display:block;
        margin-right:2.5641025641%;
        width:38.4615384615%
    }
    .grid-content-4:last-child{
        margin-right:0
    }
    .grid-content-push-4{
        margin-left:41.0256410256%
    }
    .grid-content-3{
        float:left;
        display:block;
        margin-right:2.5641025641%;
        width:28.2051282051%
    }
    .grid-content-3:last-child{
        margin-right:0
    }
    .grid-content-push-3{
        margin-left:30.7692307692%
    }
    .grid-content-2{
        float:left;
        display:block;
        margin-right:2.5641025641%;
        width:17.9487179487%
    }
    .grid-content-2:last-child{
        margin-right:0
    }
    .grid-content-push-2{
        margin-left:20.5128205128%
    }
    .grid-content-1{
        float:left;
        display:block;
        margin-right:2.5641025641%;
        width:7.6923076923%
    }
    .grid-content-1:last-child{
        margin-right:0
    }
    .grid-content-push-1{
        margin-left:10.2564102564%
    }
    .grid-content--desktop-push-1{
        margin-left:10.2564102564%
    }
    .grid-content--desktop-push-2{
        margin-left:20.5128205128%
    }
}
@media screen and (min-width: 46.875em) and (max-width: 67.4375em){
    .grid-content-10{
        width:690px
    }
    .grid-content-push-10{
        margin-left:720px
    }
    .grid-content-9{
        width:618px;
        margin-right:30px
    }
    .grid-content-push-9{
        margin-left:648px
    }
    .grid-content-8{
        width:546px;
        margin-right:30px
    }
    .grid-content-push-8{
        margin-left:576px
    }
    .grid-content-7{
        width:474px;
        margin-right:30px
    }
    .grid-content-push-7{
        margin-left:504px
    }
    .grid-content-6{
        width:402px;
        margin-right:30px
    }
    .grid-content-push-6{
        margin-left:432px
    }
    .grid-content-5{
        width:330px;
        margin-right:30px
    }
    .grid-content-push-5{
        margin-left:360px
    }
    .grid-content-4{
        width:258px;
        margin-right:30px
    }
    .grid-content-push-4{
        margin-left:288px
    }
    .grid-content-3{
        width:186px;
        margin-right:30px
    }
    .grid-content-push-3{
        margin-left:216px
    }
    .grid-content-2{
        width:114px;
        margin-right:30px
    }
    .grid-content-push-2{
        margin-left:144px
    }
    .grid-content-1{
        width:42px;
        margin-right:30px
    }
    .grid-content-push-1{
        margin-left:72px
    }
    .grid-content--tablet-10{
        width:690px
    }
    .grid-content--tablet-push-10{
        margin-left:720px
    }
    .grid-content--tablet-9{
        width:618px;
        margin-right:30px
    }
    .grid-content--tablet-push-9{
        margin-left:648px
    }
    .grid-content--tablet-8{
        width:546px;
        margin-right:30px
    }
    .grid-content--tablet-push-8{
        margin-left:576px
    }
    .grid-content--tablet-7{
        width:474px;
        margin-right:30px
    }
    .grid-content--tablet-push-7{
        margin-left:504px
    }
    .grid-content--tablet-6{
        width:402px;
        margin-right:30px
    }
    .grid-content--tablet-push-6{
        margin-left:432px
    }
    .grid-content--tablet-5{
        width:330px;
        margin-right:30px
    }
    .grid-content--tablet-push-5{
        margin-left:360px
    }
    .grid-content--tablet-4{
        width:258px;
        margin-right:30px
    }
    .grid-content--tablet-push-4{
        margin-left:288px
    }
    .grid-content--tablet-3{
        width:186px;
        margin-right:30px
    }
    .grid-content--tablet-push-3{
        margin-left:216px
    }
    .grid-content--tablet-2{
        width:114px;
        margin-right:30px
    }
    .grid-content--tablet-push-2{
        margin-left:144px
    }
    .grid-content--tablet-1{
        width:42px;
        margin-right:30px
    }
    .grid-content--tablet-push-1{
        margin-left:72px
    }
}
.pricing-plan{
    position:relative;
    border:1px solid #dfe3e8;
    text-align:center;
    border-radius:5px;
    transition:border-color 300ms
}
@media screen and (max-width: 46.8125em){
    .pricing-plan{
        margin-bottom:2.8125em
    }
    .pricing-plan:first-child{
        margin-bottom:3.75em
    }
    .pricing-plan:last-child{
        margin-bottom:0
    }
}
.pricing-plan__superhead{
    position:absolute;
    top:-22px;
    left:-1px;
    right:-1px;
    height:44px;
    background:#ffffff;
    border:1px solid #dfe3e8;
    border-radius:5px 5px 0 0;
    line-height:44px
}
.pricing-plan__header{
    padding:2.8125em 1.875em 1.875em;
    background-color:#f4f6f8
}
@media screen and (max-width: 46.8125em){
    .pricing-plan__header{
        padding:1.875em 1.5625em
    }
}
.pricing-plan__price{
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    font-family:ShopifySans, Helvetica, Arial, sans-serif;
    font-weight:700;
    font-size:4.5em;
    line-height:1em;
    color:#000000
}
.pricing-plan__price>sup{
    font-weight:500;
    font-size:0.3055555556em;
    line-height:2.0454545455em;
    vertical-align:top
}
.pricing-plan__price>abbr{
    font-weight:300;
    font-size:0.6em;
    margin-right:-0.25em
}
.pricing-plan__price>span{
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    font-family:ShopifySans, Helvetica, Arial, sans-serif;
    font-weight:500;
    font-size:0.3333333333em
}
.pricing-plan--addon{
    text-align:center
}
.pricing-disclaimer{
    margin:0.9375em 0 0;
    text-align:center;
    color:#454f5b;
    font-size:0.875em
}
@media screen and (min-width: 46.875em){
    .pricing-disclaimer{
        padding:0 3.75em
    }
}
.pricing-plan__disclaimer{
    margin-bottom:0
}
.pricing-plan__more{
    padding:0.9375em;
    border-top:1px solid #dfe3e8
}
.pricing-plan__more>p{
    margin-bottom:5px
}
.pricing-plan__tooltip{
    display:inline-block;
    padding-right:30px
}
.pricing-plan__tooltip .popover{
    font-family:ShopifySans, Helvetica, Arial, Lucida Grande, sans-serif;
    font-size:13px;
    line-height:1.5em
}
.pricing-plan__tooltip-icon{
    position:absolute;
    top:50%;
    right:10px;
    margin-top:-0.5em;
    width:1em;
    height:1em
}
.marketing-table{
    width:100%;
    margin:30px 0;
    border-spacing:0;
    border-collapse:collapse;
    -webkit-text-size-adjust:100%
}
.marketing-table th,.marketing-table td{
    padding: 10px 15px;
    border:1px solid #dfe3e8;
}
.pharse th, .pharse td {
    padding: 25px 15px 10px 15px;
}
.marketing-table th{
    background-color:#f4f6f8;
    font-weight:400
}
.marketing-table th[scope='row']{
    background-color:transparent
}
.marketing-table thead th{
    vertical-align:top;
    padding-top:20px;
    padding-bottom:20px
}
@media screen and (min-width: 46.875em){
    .marketing-table thead th{
        padding-left:5px;
        padding-right:5px
    }
}
.marketing-table tbody th,.marketing-table tbody td{
    text-align:left
}
.marketing-table tbody tr:hover th:not([scope='col']),.marketing-table tbody tr:hover td{
    background-color:#f4f6f8
}
.marketing-table p{
    margin:0
}
@media screen and (min-width: 46.875em){
    .pricing-table{
        margin-top:60px
    }
}
.pricing-table caption{
    position:static
}
@media screen and (max-width: 46.8125em){
    .pricing-table th.js-is-hidden,.pricing-table td.js-is-hidden{
        display:none;
        visibility:hidden
    }
}
@media screen and (max-width: 46.8125em){
    .pricing-table thead th:first-child{
        display:none
    }
}
@media screen and (min-width: 46.875em) and (max-width: 67.4375em){
    .pricing-table thead th{
        padding-left:5px;
        padding-right:5px
    }
}
.pricing-table tbody td{
    text-align:center;
    /* width:5% */
}
.pricing-table tbody th{
    width:70%;
}
@media screen and (min-width: 46.875em){
    .pricing-table tbody th{
        width:53.3333333333%
    }
    .pricing-table tbody td{
        width:16.6666666667%
    }
}
.pricing-table tfoot td{
    padding:15px 0 0;
    border:0;
    text-align:center
}
@media screen and (min-width: 46.875em){
    .pricing-table tfoot td{
        display:none
    }
}
.pricing-table .pricing-table__section-heading,.pricing-table p{
    margin:0
}
.pricing-table th p:not(.heading--4),.pricing-table tfoot p,.pricing-table .pricing-table__feature-name,.pricing-table .pricing-table__feature-value{
    font-size:0.8em
}
@media screen and (min-width: 67.5em){
    .pricing-table th p:not(.heading--4),.pricing-table tfoot p,.pricing-table .pricing-table__feature-name,.pricing-table .pricing-table__feature-value{
        font-size:0.875em
    }
    .pricing-title {
        padding: 0px 200px;
    }
}
.pricing-table .pricing-table__feature-name{
    color:#212b35
}
@media screen and (min-width: 46.875em){
    .pricing-table .pricing-table__feature-value--payments{
        white-space:nowrap
    }
}
.pricing-table .pricing-table__feature-link{
    text-decoration:underline
}
.pricing-table .feature-label{
    margin:0
}
.pricing-table .feature-label__text,.pricing-table .feature-label__description{
    display:block
}
.pricing-table .feature-label__text{
    margin-bottom:3px
}
.pricing-table .feature-label__description{
    font-size:0.9375em;
    color:#637381;
    margin-left:0
}
.pricing-table .icon--not-in-plan{
    opacity:0.5
}
.pricing-table .icon--in-plan{
    width:25px;
    height:25px;
    margin:-6px 0 -7px
}
.pricing-table .price{
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    font-family:ShopifySans, Helvetica, Arial, sans-serif;
    font-weight:700;
    font-size:3.3333333333em;
    color:#212b35;
    white-space:nowrap
}
.pricing-table .price::after{
    content:'';
    display:table;
    clear:both
}
@media screen and (min-width: 67.5em){
    .pricing-table .price{
        font-size:2.8571428571em
    }
}
.pricing-table .price sup,.pricing-table .price .price__number{
    display:inline-block;
    vertical-align:top
}
.plan-tabs{
    width:100%
}
.plan-tabs li{
    border-left:1px solid #dfe3e8;
    border-right:1px solid #dfe3e8
}
.plan-tabs__tab{
    display:block;
    width:100%;
    padding:1.25em 1em;
    border-top:1px solid #dfe3e8;
    border-bottom:1px solid #dfe3e8;
    font-size:0.7857142857em;
    font-weight:700;
    text-align:center;
    white-space:nowrap
}
.plan-tabs__tab.js-is-active{
    color:#000000;
    background-color:#f4f6f8
}
.plan-tabs__tab:focus{
    outline:0
}
.plan-arrows{
    margin-bottom:30px
}
.plan-arrows::after{
    content:'';
    display:table;
    clear:both
}
.plan-arrow{
    font-size:0.8em;
    font-weight:700;
    color:#5c6ac4
}
.plan-arrow__icon{
    display:inline-block;
    vertical-align:middle;
    width:1em;
    height:0.7em
}
.plan-arrow--prev{
    float:left
}
.plan-arrow--prev .plan-arrow__icon{
    margin-right:0.5em
}
.plan-arrow--next{
    float:right
}
.plan-arrow--next .plan-arrow__icon{
    margin-left:0.5em
}
.pricing-plan--addon__plus{
    display:block;
    width:108px;
    height:22px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:0.75em
}
.monthly-price{
    padding-top:20px;
    padding-bottom:20px
}
.monthly-price .monthly-price__currency,.monthly-price .monthly-price__billing-period,.monthly-price .monthly-price__price{
    display:inline-block;
    line-height:1
}
.monthly-price .monthly-price__currency{
    padding-top:0.2em;
    padding-right:4px;
    align-self:flex-start
}
.monthly-price__price{
    letter-spacing:-1px
}
.monthly-price__price sup{
    padding-right:3px;
    margin-top:0.3em;
    font-size:0.3em
}
@media screen and (max-width: 46.8125em){
    .pricing-faq__heading{
        border-bottom:1px solid #dfe3e8;
        padding-bottom:12px
    }
}

.heading-pricing {font-size: 1.3rem;}
.sub-head-pricing {font-size: 1rem;}
.background-light {background-color: var(--sub-color-1)}

@media screen and (min-width: 46.875em){
    .heading-pricing {font-size: 1.3rem !important;}
    .sub-head-pricing {font-size: 1rem !important;}
}

@media screen and (min-width: 67.5em){
    .heading-pricing {font-size: 1.8rem !important;}
    .sub-head-pricing {font-size: 1.3rem !important;}
}