.demo-video{
    position:relative
}
.demo-video--device-iOS-portrait{
    border-radius:25px;
    border:6px solid #e8e8e8;
    box-shadow:2px 2px 6px 0 #b6babf
}
.demo-video--device-iOS-portrait .demo-video__video-container{
    height:0;
    padding-bottom:216.5%
}
.demo-video__video{
    cursor:pointer;
    width:100%
}
.demo-video--device-iOS-portrait .demo-video__video{
    position:absolute;
    height:100%;
    left:0;
    top:0;
    border-radius:18px
}
.demo-video__icon{
    width:1.25em;
    height:1.25em
}
.demo-video__button{
    position:absolute;
    bottom:0;
    left:calc(100% + 16px);
    align-items:center;
    justify-content:center;
    line-height:0
}
.demo-video__button::before{
    content:'';
    position:absolute;
    left:-16px;
    top:-16px;
    width:calc(100% + 32px);
    height:calc(100% + 32px)
}
.demo-video__button--loading{
    display:none
}
.demo-video__button--loading::after{
    content:'';
    display:block;
    width:1.25em;
    height:1.25em;
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-0.625em;
    margin-top:-0.625em;
    border-radius:50%;
    border:3px solid #000000;
    border-top-color:transparent;
    -webkit-animation:spin 1s infinite linear;
    animation:spin 1s infinite linear;
    top:auto;
    bottom:0;
    left:0;
    margin-left:0;
    margin-top:0
}
@-webkit-keyframes spin{
    0%{
        -webkit-transform:rotate(0deg);
        transform:rotate(0deg)
    }
    100%{
        -webkit-transform:rotate(360deg);
        transform:rotate(360deg)
    }
}
@keyframes spin{
    0%{
        -webkit-transform:rotate(0deg);
        transform:rotate(0deg)
    }
    100%{
        -webkit-transform:rotate(360deg);
        transform:rotate(360deg)
    }
}
.js-demo-video--loading .demo-video__button--loading{
    display:block
}
.demo-video__button--play{
    display:block
}
.js-demo-video--active .demo-video__button--play{
    display:none
}
.demo-video__button--pause{
    display:none
}
.js-demo-video--active .demo-video__button--pause{
    display:block
}
.js-demo-video--loading .demo-video__button--play,.js-demo-video--loading .demo-video__button--pause{
    display:none
}
.back-to-top-link{
    font-weight:500
}
.back-to-top-link .styled-link__icon{
    -webkit-transform:translateY(0) rotate(-90deg);
    transform:translateY(0) rotate(-90deg)
}
.back-to-top-link:hover .styled-link__icon,.back-to-top-link:focus .styled-link__icon{
    -webkit-transform:translateY(-2px) rotate(-90deg);
    transform:translateY(-2px) rotate(-90deg)
}
.sell-links{
    max-width:50em;
    margin-left:auto;
    margin-right:auto
}
@media screen and (min-width: 67.5em){
    .sell-links{
        max-width:68.75em
    }
}
.sell-links__subhead{
    max-width:25.625em;
    margin-left:auto;
    margin-right:auto
}
.sell-links__button-wrapper{
    display:block;
    margin-left:auto;
    margin-right:auto
}
.sell-links__button{
    width:100%;
    margin-top:32px
}
.sell-links__button-group{
    justify-content:center;
    align-items:center
}
.sell-links__button-group--expand{
    display:flex
}
.js-is-active .sell-links__button-group--expand{
    display:none
}
.sell-links__button-group--collapse{
    display:none
}
.js-is-active .sell-links__button-group--collapse{
    display:flex
}
.sell-links__button-icon{
    line-height:0;
    width:1em;
    height:1em;
    margin-right:0.5em;
    margin-bottom:0.3em
}
.sell-links__base,.sell-links__more{
    display:flex;
    flex-wrap:wrap
}
.sell-links__item{
    margin-bottom:0.9375em;
    padding-left:32px;
    padding-right:32px;
    width:100%;
    text-align:center
}
@media screen and (min-width: 46.875em) and (max-width: 67.4375em){
    .sell-links__item{
        width:50%;
        text-align:left
    }
}
@media screen and (min-width: 67.5em){
    .sell-links__item{
        width:33.33%;
        text-align:left
    }
}
.marketing-nav,.sell-pillar-intro__hero{
    background-color:#f3fcf4
}
.pillar-intro__highlight,.pillar-nav__item-name{
    color:#008060
}
.pillar-nav__link-icon{
    fill:#008060
}
.pillar-section__content-container--intro::after{
    background-color:#f3fcf4
}
.pillar-section__cta--intro{
    color:#008060
}
.pillar-section__content-container--online-store::after{
    background-color:#effcfa
}
.pillar-section__cta--online-store{
    color:#157a76
}
.pillar-section__content-container--pos::after{
    background-color:#fbf7ed
}
.pillar-section__cta--pos{
    color:#906509
}
.pillar-section__content-container--buy-button::after{
    background-color:#effcfa
}
.pillar-section__cta--buy-button{
    color:#157a76
}
.pillar-section__content-container--sales-channels::after{
    background-color:#fff8f6
}
.pillar-section__cta--sales-channels{
    color:#b44f13
}
.pillar-intro-image__wrapper{
    position:absolute;
    width:50%;
    max-width:6.875em;
    max-width:calc(100% - 13.125em);
    bottom:0
}
@media screen and (max-width: 46.8125em){
    .pillar-intro-image__wrapper{
        right:0
    }
}
@media screen and (min-width: 46.875em){
    .pillar-intro-image__wrapper{
        position:absolute;
        width:100%;
        height:100%;
        left:100%;
        bottom:0;
        max-width:540px
    }
}
.pillar-intro-image__dimension-container{
    position:absolute;
    width:100%;
    height:100%;
    bottom:0;
    left:0
}
@media screen and (min-width: 46.875em){
    .pillar-intro-image__dimension-container{
        padding-bottom:calc(145% + 20px)
    }
}
.pillar-intro-image__image-container{
    width:215px;
    height:509px;
    bottom:-90px;
    left:0;
    position:absolute;
    display:flex;
    flex-flow:column wrap;
    justify-content:flex-end
}
@media screen and (min-width: 46.875em){
    .pillar-intro-image__image-container{
        width:calc(100% + 5px * 2);
        height:calc(100% + 5px * 2);
        bottom:-120px;
        left:-5px
    }
}
.pillar-intro-image{
    margin:5px;
    max-width:calc(100% - 10px)
}
@media screen and (min-width: 46.875em){
    .sell-intro-image--merchant{
        width:calc(51% - 10px)
    }
}
@media screen and (min-width: 46.875em){
    .sell-intro-image--crowd,.sell-intro-image--product{
        width:calc(49% - 10px)
    }
}
.sell-demo-video__button{
    bottom:0.625em;
    left:calc(100% + 1.5625em)
}
.sell-demo-screen-content{
    position:absolute;
    width:74%;
    bottom:8%;
    left:13%;
    max-width:28.125em;
    margin:0 auto
}
@media screen and (min-width: 46.875em){
    .sell-demo-screen-content{
        width:67%;
        left:11.25%
    }
}
.sell-pos__visual{
    position:relative;
    max-width:470px
}
.sell-pos__visual--merchant{
    width:86%;
    padding-left:9%;
    padding-right:5%;
    padding-bottom:39%
}
.sell-pos__visual--merchant img{
    display:block;
    box-shadow:0 0 20px 0 rgba(158,158,158,0.23);
    border-radius:4px
}
.sell-pos__visual--card-reader{
    position:absolute;
    left:0;
    bottom:12%;
    width:43%;
    box-shadow:0 0 40px 0 rgba(158,158,158,0.23);
    border-top-right-radius:35px
}
.sell-pos__visual--app{
    position:absolute;
    bottom:0;
    right:0;
    width:54%;
    border-radius:4px
}
@media screen and (min-width: 46.875em){
    .pillar-section__image.sell-online-store__visual{
        max-width:635px
    }
}
.sell-sales-channels__visual{
    max-width:440px
}
.sell-buy-button__visual{
    pointer-events:none
}
.compliance-wrapper{
    max-width:50%;
    margin-left:auto;
    margin-right:auto
}
@media screen and (min-width: 67.5em){
    .compliance-wrapper{
        margin-left:18%;
        margin-right:initial
    }
}
.compliance--flex-column{
    flex-direction:column
}
 