._3MSGp {
    width: 100%;
    display: flex;
    height: 122px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #002e25;
}
@media (min-width: 37.5em) {
    ._3MSGp {
        flex-direction: row;
        height: 80px;
        justify-content: flex-end;
        align-items: center;
        padding: 0 1.6rem;
    }
}
._3EMma {
    color: #fff;
    margin-bottom: 0.8rem;
    font-size: 1.6rem;
    line-height: 2.4rem;
}
@media (min-width: 37.5em) {
    ._3EMma {
        margin-bottom: 0;
        margin-right: 2.4rem;
    }
    ._3EMma:last-child {
        margin-right: 0;
    }
}
._3WffZ {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
._2dTOd {
    padding-top: 6.4rem;
    padding-bottom: 9.6rem;
    flex: 1 1;
    width: 100%;
}
._2dTOd._3kV3b {
    padding-top: 2rem;
}
._2dTOd._5jM5_ {
    padding-top: 0;
}
._2dTOd._1g2cu {
    padding-bottom: 0;
}
@media (max-width: 75em) {
    ._2dTOd {
        padding-top: 3.2rem;
    }
}
.HjxlM {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.6rem;
}
@media (max-width: 37.5em) {
    .HjxlM {
        padding: 0 1.6rem;
    }
}
._2nP80 * {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.6rem;
}
._3dkyZ._2LUdh {
    background-color: #004c3f;
    color: #fff;
}
._3dkyZ._3qzLf {
    background-color: #fff;
    box-shadow: 0 0 0 1px rgba(63, 63, 68, 0.05), 0 1px 3px 0 rgba(63, 63, 68, 0.15);
}
.xCnWT {
    max-width: 120rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 4rem;
}
@media (max-width: 62em) {
    .xCnWT {
        display: block;
    }
}
@media (min-width: 37.5em) {
    .xCnWT {
        padding-left: 8rem;
        padding-right: 8rem;
    }
    .xCnWT._3U9kc {
        padding-left: 0;
        padding-right: 0;
    }
}
.xCnWT._1Ks39 {
    max-width: none;
    padding: 0;
}
.xCnWT._3LJ9W {
    max-width: 99.4rem;
}
._1YJNz {
    grid-column: span 12;
}
@media (max-width: 62em) {
    ._1YJNz.A5Odc {
        margin-bottom: 3.2rem;
    }
}
._3KVMA {
    position: -webkit-sticky;
    position: sticky;
    top: 7rem;
}
._4CK1q {
    display: flex;
    margin-bottom: 2rem;
}
@media (max-width: 37.5em) {
    ._4CK1q {
        padding: 0 1.6rem;
    }
}
._1E6Jz {
    margin-right: 0.8rem;
}
._3JWDx {
    margin-top: 0.8rem;
}
._3udb9 {
    flex-grow: 1;
    display: grid;
    grid-auto-rows: -webkit-min-content;
    grid-auto-rows: min-content;
}
._3udb9._1Q3Kh {
    padding: 0 1.6rem;
}
._3udb9 ._3pYVa,
._3udb9 h1 {
    max-width: 70%;
}
@media (max-width: 48em) {
    ._3udb9 ._3pYVa,
    ._3udb9 h1 {
        max-width: 80%;
    }
}
._3udb9 ._2JDdM,
._3udb9 h2 {
    max-width: 70%;
    margin-top: 2rem;
}
@media (max-width: 48em) {
    ._3udb9 ._2JDdM,
    ._3udb9 h2 {
        max-width: 80%;
        padding-bottom: 3.2rem;
    }
}
.Xc_82 {
    padding: 3.2rem 1.6rem;
}
@media (min-width: 37.5em) {
    .Xc_82 {
        padding: 3.2rem 0;
    }
}
._2hnpM {
    margin-bottom: 2rem;
}
._1HJKJ {
    height: 4rem;
    margin-right: 0.8rem;
}
.CZajl {
    position: -webkit-sticky;
    position: sticky;
    top: 7rem;
}
.Gyrfe {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.Gyrfe > li {
    margin-right: 1.6rem;
}
._2Yk6v {
    height: 1.6rem;
    width: 1.6rem;
}
._2Yk6v svg {
    fill: #9fa5ab;
}
._2Yk6v svg:hover {
    fill: #008060;
}
._2cctX svg {
    fill: #00996e;
}
._2cctX svg:hover {
    fill: #008060;
}
._1T_SW {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0;
    border: none;
    width: 3.2rem;
    height: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 100%;
    transition: background-color 0.1s;
}
._1T_SW span {
    width: auto;
    height: auto;
}
._1T_SW:focus {
    outline: none;
}
._1T_SW:focus,
._1T_SW:hover {
    background-color: #f1f2f3;
}
._1T_SW:active {
    background-color: #dbdddf;
}
._6JBFq {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-height: 3.6rem;
    min-width: 3.6rem;
    margin: 0;
    padding: 0.7rem 1.6rem;
    background: linear-gradient(180deg, #fff, #f9fafb);
    border: 0.1rem solid var(--p-border, #c4cdd5);
    box-shadow: 0 1px 0 0 rgba(22, 29, 37, 0.05);
    border-radius: 3px;
    line-height: 1;
    color: #212b36;
    text-align: center;
    cursor: pointer;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
    transition-property: background, border, box-shadow;
    transition-duration: var(--p-override-none, 0.2s);
    transition-timing-function: var(--p-override-none, cubic-bezier(0.64, 0, 0.35, 1));
    -webkit-tap-highlight-color: transparent;
}
._6JBFq svg {
    fill: #637381;
}
._6JBFq:hover {
    background: linear-gradient(180deg, #f9fafb, #f4f6f8);
    border-color: #c4cdd5;
}
._6JBFq:focus {
    border-color: #5c6ac4;
    outline: 0;
    box-shadow: 0 0 0 1px #5c6ac4;
}
@media (-ms-high-contrast: active) {
    ._6JBFq:focus {
        outline: 2px dotted;
    }
}
._6JBFq:active {
    background: linear-gradient(180deg, #f4f6f8, #f4f6f8);
    border-color: #c4cdd5;
    box-shadow: 0 0 0 0 transparent, inset 0 1px 1px 0 rgba(99, 115, 129, 0.1), inset 0 1px 4px 0 rgba(99, 115, 129, 0.2);
}
._6JBFq.dJxWR {
    position: relative;
    background: var(--p-action-secondary);
    border: none;
    box-shadow: none;
    border-radius: var(--p-border-radius-base);
    color: var(--p-text);
}
._6JBFq.dJxWR svg {
    fill: var(--p-icon);
}
._6JBFq.dJxWR:after {
    content: var(--p-non-null-content, none);
    position: absolute;
    z-index: 1;
    top: -0.1rem;
    right: -0.1rem;
    bottom: -0.1rem;
    left: -0.1rem;
    display: block;
    pointer-events: none;
    box-shadow: 0 0 0 -0.1rem var(--p-focused);
    transition: box-shadow 0.1s var(--p-ease);
    border-radius: calc(var(--p-border-radius-base) + 0.1rem);
}
._6JBFq.dJxWR:hover {
    background: var(--p-action-secondary-hovered);
    border-color: transparent;
}
@media (-ms-high-contrast: active) {
    ._6JBFq.dJxWR:hover {
        outline: 1px solid windowText;
    }
}
._6JBFq.dJxWR:focus {
    border-color: transparent;
    box-shadow: none;
}
._6JBFq.dJxWR:focus:after {
    box-shadow: 0 0 0 0.2rem var(--p-focused);
}
@media (-ms-high-contrast: active) {
    ._6JBFq.dJxWR:focus:after {
        outline: 1px solid windowText;
    }
}
._6JBFq.dJxWR:active {
    background: var(--p-action-secondary-pressed);
    border-color: transparent;
    box-shadow: none;
}
._6JBFq.dJxWR:active:after {
    border: none;
    box-shadow: none;
}
._6JBFq.dJxWR.hCuLV {
    background: var(--p-action-secondary-depressed);
    box-shadow: none;
    color: var(--p-text-on-interactive);
}
@media (-ms-high-contrast: active) {
    ._6JBFq.dJxWR {
        border: 1px solid windowText;
    }
}
._6JBFq._1qINC {
    transition: none;
    background: linear-gradient(180deg, #f4f6f8, #f4f6f8);
    color: #919eab;
}
._6JBFq._1qINC svg {
    fill: #919eab;
}
._6JBFq._1qINC.dJxWR {
    background: var(--p-action-secondary-disabled);
    color: var(--p-text-disabled);
}
._6JBFq._1qINC.dJxWR svg {
    fill: var(--p-icon-disabled);
}
._6JBFq._3-Wt3 svg {
    fill: #5c6ac4;
}
._6JBFq .IR9yy {
    font-size: 1.5rem;
    font-weight: var(--p-button-font-weight, 400);
    line-height: 1.6rem;
    text-transform: none;
    letter-spacing: normal;
    margin-left: 0.4rem;
}
@media (min-width: 40em) {
    ._6JBFq .IR9yy {
        font-size: 1.4rem;
    }
}
._2cEwi svg {
    width: 2rem;
    height: 2rem;
}
._31Pl2 svg {
    width: 3.2rem;
    height: 3.2rem;
}
._1EZy3 {
    --p-border-radius-wide: 0;
}
._1vZeK {
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1.6rem;
    text-transform: uppercase;
    color: #6d7175;
    margin-bottom: 2rem;
}
@media (min-width: 40em) {
    ._1vZeK {
        font-size: 1.2rem;
    }
}
._2fMuP {
    display: grid;
    grid-template-columns: 6rem auto;
    grid-column-gap: 1.6rem;
    margin-bottom: 2rem;
}
._17tiq {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
._2XFVU {
    color: #008060;
}
._3gzSR {
    margin-top: 2rem;
    grid-column: span 2 / auto;
}
@media (min-width: 37.5em) {
    ._3gzSR._3AAms {
        grid-column: 2 / auto;
    }
}
._1VXKx {
    margin-bottom: 2rem;
    white-space: pre-wrap;
}
._5Z1A4,
.MdJXk {
    width: 8rem;
}
._3rgW1 {
    width: 12rem;
}
._1-LLm {
    width: 30rem;
}
.H2OuM {
    width: 10rem;
}
._3kG9k img {
    display: block;
    max-width: 100%;
    margin: 4rem 0;
}
._3kG9k h1,
._3kG9k h2 {
    font-weight: 600;
    font-size: 1.9rem;
    line-height: 2.4rem;
    margin-bottom: 2rem;
    padding-top: 2rem;
}
._3kG9k h1:first-child,
._3kG9k h2:first-child {
    padding-top: 0;
}
._3kG9k h3,
._3kG9k h4 {
    margin-bottom: 2rem;
    padding-top: 2rem;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.6rem;
    text-transform: uppercase;
}
._3kG9k h3:first-child,
._3kG9k h4:first-child {
    padding-top: 0;
}
._3kG9k pre {
    white-space: normal;
}
._3kG9k blockquote {
    font-size: 2.1rem;
    line-height: 2.8rem;
    color: #5c6ac4;
    text-align: center;
    padding: 2rem;
}
._3kG9k blockquote > p {
    display: inline;
}
._3kG9k blockquote:before {
    content: "\201C";
    position: relative;
    display: inline;
}
._3kG9k blockquote:after {
    content: "\201D";
    position: relative;
    display: inline;
}
._3kG9k a {
    color: #008060;
    text-decoration: none;
}
._3kG9k a:hover {
    text-decoration: underline;
}
._3kG9k li {
    font-size: 1.6rem;
    margin: 0.8rem 0;
}
._3kG9k > p {
    font-size: 1.6rem;
    line-height: 1.5;
    margin-bottom: 2rem;
}
body,
html {
    border: 0;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    color: #202223;
    --p-text-subdued: #6d7175;
    --p-card-shadow: 0 0.2rem 0.4rem #dfe3e8;
}
button {
    background-color: initial;
}
._2L5gI {
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
    animation: polaris-SkeletonShimmerAnimation 0.8s linear infinite alternate;
}
._2L5gI,
._2L5gI:after {
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    will-change: opacity;
}
._2L5gI:after {
    content: " ";
    position: absolute;
    height: 100%;
    background: #dfe3e8;
    animation: polaris-SkeletonShimmerAnimation 0.8s linear infinite alternate;
}
