.f91zr {
    position: relative;
    width: 100%;
}
._3OnKO {
    position: absolute;
    bottom: 1.6rem;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0 1.6rem;
    line-height: 0;
    list-style: none;
}
._3OnKO ._3PHoA {
    margin: 0 0.8rem;
    flex: 1 1 4rem;
    min-width: 4rem;
    max-width: 20rem;
}
@media (max-width: 48em) {
    ._3OnKO ._3PHoA {
        flex: 1 1 2rem;
        min-width: 2rem;
        max-width: 6rem;
    }
}
.hGJCp {
    display: none;
}
.hGJCp._3wmDb {
    display: block;
}
._38OjW,
.ZKMtV {
    position: absolute;
    top: 40%;
    z-index: 2;
    width: 4.5rem;
    height: 4.5rem;
    border: none;
    cursor: pointer;
    padding: 0;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 0 1px rgba(66, 71, 76, 0.45), 0 2px 1px rgba(0, 0, 0, 0.05);
}
._38OjW:disabled ._1ycOA,
.ZKMtV:disabled ._1ycOA {
    fill: #e7e5e0;
}
@media (min-width: 37.5em) {
    ._38OjW,
    .ZKMtV {
        top: calc(50% - 2.25rem);
        background: none;
        border-radius: 0;
        box-shadow: none;
    }
    ._38OjW:disabled ._1ycOA,
    .ZKMtV:disabled ._1ycOA {
        fill: #fff;
    }
    ._38OjW:hover:enabled,
    .ZKMtV:hover:enabled {
        border-radius: 50%;
        background: hsla(0, 0%, 100%, 0.1);
    }
}
._38OjW:disabled,
.ZKMtV:disabled {
    cursor: default;
}
@media (min-width: 37.5em) {
    ._38OjW:disabled,
    .ZKMtV:disabled {
        opacity: 0.3;
    }
}
._38OjW:focus,
.ZKMtV:focus {
    outline: 0;
    border-radius: 50%;
    border: 2px solid #0094fc;
}
._38OjW:active,
.ZKMtV:active {
    border: 0;
}
._38OjW {
    left: 1.8rem;
}
@media (min-width: 37.5em) {
    ._38OjW {
        left: 0.8rem;
    }
}
@media (min-width: 48em) {
    ._38OjW {
        left: 2rem;
    }
}
@media (min-width: 75em) {
    ._38OjW {
        left: 4rem;
    }
}
.ZKMtV {
    right: 1.8rem;
}
@media (min-width: 37.5em) {
    .ZKMtV {
        right: 0.8rem;
    }
}
@media (min-width: 48em) {
    .ZKMtV {
        right: 2rem;
    }
}
@media (min-width: 75em) {
    .ZKMtV {
        right: 4rem;
    }
}
._1ycOA {
    fill: #292824;
    width: 2.4rem;
    height: 2.4rem;
    vertical-align: middle;
}
@media (min-width: 37.5em) {
    ._1ycOA {
        fill: #fff;
        width: 3rem;
        height: 3rem;
    }
}
._2Iym_ {
    position: absolute;
    top: 0.5rem;
    height: 0.6rem;
    border: none;
    width: 100%;
    cursor: pointer;
    background: hsla(0, 0%, 100%, 0.3);
}
._2Iym_._18_tF {
    background: #e5e5e5;
}
._2jboy {
    position: relative;
    width: 100%;
    border: none;
    padding: 0;
    cursor: pointer;
    height: 1.6rem;
    background: transparent;
}
._2jboy:focus {
    outline: none;
}
._2jboy:focus ._2Iym_ {
    outline: 2px solid #0094fc;
}
._2jboy:active ._2Iym_ {
    transition: background-color 0.1s;
    outline: none;
}
._9iTsX {
    cursor: default;
}
._3J239 {
    fill: hsla(0, 0%, 100%, 0.3);
}
._269yy * {
    cursor: default;
}
._2WYww {
    width: 100%;
}
@media (min-width: 37.5em) {
    ._2WYww {
        display: none;
    }
}
._2WYww ._3YL-R {
    position: absolute;
    left: 2rem;
    top: 2rem;
}
._2WYww ._1LfHG {
    position: relative;
    width: 100%;
    padding-bottom: 6.6rem;
    padding-top: 7.8rem;
    padding-left: 4rem;
    padding-right: 4rem;
}
.tSShx {
    display: none;
    width: 100%;
    padding-bottom: 6rem;
    padding-top: 6rem;
}
@media (min-width: 37.5em) {
    .tSShx {
        display: flex;
        padding-left: 6rem;
        padding-right: 6rem;
    }
}
@media (min-width: 48em) {
    .tSShx {
        padding-left: 8rem;
        padding-right: 8rem;
    }
}
@media (min-width: 75em) {
    .tSShx {
        padding-left: 12rem;
        padding-right: 12rem;
    }
}
._-4n90 {
    position: relative;
    flex: 1 1 50%;
    justify-self: flex-end;
}
._361-T {
    width: 100%;
    padding-bottom: 56.25%;
}
._12sct {
    height: 18rem;
    flex: 1 1 50%;
    justify-self: flex-start;
    margin-right: 2rem;
}
@media (max-width: 40em) {
    ._12sct {
        height: 16rem;
    }
}
@media (min-width: 48em) {
    ._12sct {
        height: 21rem;
    }
}
@media (min-width: 62em) {
    ._12sct {
        height: 28rem;
    }
}
@media (min-width: 75em) {
    ._12sct {
        margin-right: 4rem;
        height: 30rem;
    }
}
._34TO3 {
    padding-bottom: 0.8rem;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
}
@media (min-width: 40em) {
    ._34TO3 {
        font-size: 2rem;
        line-height: 2.8rem;
    }
}
@media (min-width: 48em) {
    ._34TO3 {
        padding-bottom: 1.6rem;
    }
}
@media (min-width: 62em) {
    ._34TO3 {
        font-size: 2.1rem;
        font-weight: 400;
        line-height: 2.8rem;
    }
}
@media (min-width: 62em) and (min-width: 40em) {
    ._34TO3 {
        font-size: 2.6rem;
        line-height: 3.2rem;
    }
}
@media (min-width: 75em) {
    ._34TO3 {
        font-size: 2.4rem;
        font-weight: 600;
        line-height: 2.8rem;
    }
}
@media (min-width: 75em) and (min-width: 40em) {
    ._34TO3 {
        font-size: 2.8rem;
        line-height: 3.2rem;
    }
}
._1Q00T {
    font-size: 1.4rem;
}
@media (max-width: 48em) {
    ._1Q00T {
        padding-bottom: 0.8rem;
    }
}
._1cXU4 {
    padding-bottom: 0.8rem;
}
@media (min-width: 48em) {
    ._1cXU4 {
        padding-bottom: 1.6rem;
    }
}
._22SB9 {
    padding-bottom: 0;
}
._19BRE:focus {
    outline: none;
    box-shadow: 0 0 0 1px #004c3f, 0 0 0 3px #0094fc;
}
._3xxAz {
    margin: 0 0 6rem;
}
.dnfZQ {
    max-width: 140rem;
    margin: 0 auto;
}
._2w2oG {
    background-color: #fff;
    position: relative;
}
@media (min-width: 62em) {
    ._2w2oG {
        background-color: initial;
    }
}
.PGspY {
    position: absolute;
    right: 0;
    bottom: 0;
    max-width: 60%;
    width: 35rem;
}
@media (min-width: 48em) {
    .PGspY {
        width: 40rem;
    }
}
@media (min-width: 62em) {
    .PGspY {
        width: 60rem;
    }
}
._17M18 {
    z-index: 1;
    margin-top: 5.7rem;
    padding: 0 0 10rem 0;
    text-align: center;
}
@media (min-width: 48em) {
    ._17M18 {
        padding-bottom: 9rem;
        margin-top: 9rem;
    }
}
@media (min-width: 62em) {
    ._17M18 {
        text-align: left;
        padding-bottom: 12rem;
    }
}
._17M18 h2 {
    color: #004c3f;
}
@media (min-width: 62em) {
    ._17M18 h2 {
        font-weight: 400;
        font-size: 3.6rem;
    }
}
._2A0fu {
    font-size: 1.5rem;
    line-height: 2rem;
    max-width: 65.9rem;
    margin: 3.2rem auto;
    padding: 0 3.2rem;
}
@media (min-width: 62em) {
    ._2A0fu {
        padding: 0;
        font-size: 1.8rem;
        line-height: 2.4rem;
        margin: 3.2rem 0;
    }
}
._1E6Cw {
    padding-bottom: 6rem;
}
@media (max-width: 37.5em) {
    ._1E6Cw {
        padding-bottom: 2rem;
        padding-left: 1.6rem;
        padding-right: 1.6rem;
    }
}
.pgdwA {
    position: relative;
    margin-bottom: 3rem;
}
.pgdwA h4 {
    color: #004c3f;
    font-size: 2.6rem;
}
.pgdwA p {
    color: #42474c;
    margin-top: 1.6rem;
    max-width: 58rem;
}
._2c4-2,
.pgdwA p {
    font-size: 1.4rem;
    line-height: 3rem;
}
._2c4-2 {
    position: absolute;
    bottom: 0;
    right: 0;
}
@media (max-width: 37.5em) {
    ._2c4-2 {
        display: none;
    }
}
._1SQn3 {
    font-size: 1.4rem;
    line-height: 3rem;
    text-align: center;
    padding: 2rem;
    margin: auto;
}
@media (min-width: 37.5em) {
    ._1SQn3 {
        display: none;
    }
}
._2PP3F {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 4rem;
    grid-row-gap: 6rem;
}
@media (max-width: 62em) {
    ._2PP3F {
        grid-template-columns: repeat(9, 1fr);
        grid-column-gap: 3rem;
        grid-row-gap: 4rem;
    }
}
@media (max-width: 48em) {
    ._2PP3F {
        grid-template-columns: repeat(6, 1fr);
        grid-row-gap: 3rem;
    }
}
@media (max-width: 37.5em) {
    ._2PP3F {
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 3rem;
    }
}
._1UN8K {
    grid-column: span 3;
    display: none;
}
._1UN8K:nth-of-type(-n + 2) {
    display: block;
}
@media (min-width: 48em) {
    ._1UN8K:nth-of-type(-n + 3) {
        display: block;
    }
}
@media (min-width: 62em) {
    ._1UN8K:nth-of-type(n) {
        display: block;
    }
}
.K0dIm {
    display: block;
    padding-bottom: 1.6rem;
}
._1ADs- {
    height: 20rem;
    display: flex;
    background-color: #faf9f8;
    transition: background-color 0.2s;
}
@media (max-width: 62em) {
    ._1ADs- {
        height: 16rem;
    }
}
@media (max-width: 37.5em) {
    ._1ADs- {
        height: 11.4rem;
    }
}
._1ADs-:hover {
    background-color: #e7e5e0;
}
._2VwBi {
    flex: 1 1;
    display: flex;
    height: 100%;
    padding: 1.6rem 0 1.6rem 1.6rem;
    justify-content: center;
    align-items: center;
}
@media (max-width: 37.5em) {
    ._2VwBi {
        justify-content: left;
    }
}
._3vrr0 {
    height: 100%;
    margin-right: 3.2rem;
}
._12zJ- {
    color: #00996e;
}
._1kAwr {
    color: #212326;
    font-size: 2.8rem;
    line-height: 3.2rem;
    font-weight: 600;
}
@media (max-width: 37.5em) {
    ._1kAwr {
        font-size: 2.1rem;
        line-height: 2.8rem;
    }
}
._3nk6- {
    height: 0.7em;
    vertical-align: middle;
    margin-left: 0.3em;
    white-space: nowrap;
}
._24BiD h4 {
    color: #004c3f;
    font-size: 1.8rem;
    margin-bottom: 1.6rem;
}
@media (min-width: 37.5em) {
    ._24BiD h4 {
        font-size: 1.6rem;
        margin-bottom: 3.2rem;
    }
}
@media (min-width: 62em) {
    ._24BiD h4 {
        font-size: 2rem;
        margin-bottom: 6rem;
    }
}
.Sco3F {
    background-color: #f0efec;
    padding: 13.7rem 0 11.8rem;
    margin-bottom: 6rem;
}
@media (max-width: 62em) {
    .Sco3F {
        padding: 6.4rem 1.6rem 3.2rem;
    }
}
._2TSOr h4 {
    margin-bottom: 2rem;
}
.CR12t {
    margin: 0 0 6rem 0;
}
@media (max-width: 37.5em) {
    .CR12t {
        margin: 0 0 1.6rem 0;
    }
}
@media (max-width: 62em) {
    .CR12t {
        margin: 0 0 3.2rem 0;
    }
}
.CR12t p {
    color: #6b7177;
    font-size: 2.6rem;
    line-height: 3.6rem;
    white-space: pre-wrap;
}
@media (max-width: 62em) {
    .CR12t p {
        font-size: 2rem;
        line-height: 2.4rem;
    }
}
@media (max-width: 37.5em) {
    .CR12t p {
        font-size: 1.5rem;
        line-height: 2rem;
    }
}
._2ucAx {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 4rem;
}
@media (max-width: 62em) {
    ._2ucAx {
        display: block;
    }
}
._3P9eg {
    grid-column: span 6;
    transition: box-shadow 0.2s;
    cursor: pointer;
}
@media (max-width: 62em) {
    ._3P9eg {
        margin-bottom: 2rem;
    }
    ._3P9eg:last-of-type {
        margin-bottom: 0;
    }
}
@media (max-width: 37.5em) {
    ._3P9eg {
        margin-bottom: 1.6rem;
    }
    ._3P9eg:last-of-type {
        margin-bottom: 0;
    }
}
.Bj8Cx {
    background: #faf9f8;
    padding: 6rem 2rem;
}
@media (min-width: 37.5em) {
    .Bj8Cx {
        padding: 6rem 0;
    }
}
@media (min-width: 62em) {
    .Bj8Cx {
        padding-top: 9rem;
        padding-bottom: 9rem;
    }
}
@media (min-width: 75em) {
    .Bj8Cx {
        padding-bottom: 12rem;
    }
}
._3rzZj {
    max-width: 78.6rem;
    margin: 0 auto;
}
._2YMma {
    text-align: center;
    margin-bottom: 6.4rem;
}
._2YMma h2 {
    color: #008060;
}
@media (min-width: 62em) {
    ._2YMma h2 {
        font-weight: 400;
        font-size: 3.6rem;
    }
}
._1KSX4,
._2jKM5 {
    font-size: 1.5rem;
    line-height: 2rem;
}
@media (min-width: 48em) {
    ._1KSX4,
    ._2jKM5 {
        font-size: 1.8rem;
        line-height: 3rem;
    }
}
._2jKM5 {
    color: #202223;
    font-weight: 600;
}
._1KSX4 {
    color: #6d7175;
}
@media (min-width: 48em) {
    .LxDNu {
        margin-top: 0.5rem;
    }
}
._1HD8s,
._3Gq96 {
    width: 100%;
}
._1HD8s {
    padding: 0;
    border: none;
    border-bottom: 1px solid #d6d4ce;
    cursor: pointer;
}
._1HD8s._2B2aZ {
    border-bottom: none;
}
._1HD8s:active {
    outline: 0;
}
._2XsZL {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding-top: 3rem;
    padding-bottom: 3rem;
    transition: padding-bottom 0.2s ease-in-out;
}
@media (min-width: 48em) {
    ._2XsZL {
        padding-bottom: 4.5rem;
    }
}
._2XsZL._2B2aZ {
    padding-bottom: 0;
}
._138aT {
    text-align: left;
}
._237_4 {
    width: 2rem;
    transition: transform 0.2s ease-in-out;
}
._237_4._15tQF {
    transform: rotate(45deg);
}
._1N9mu {
    padding-top: 1.5rem;
    padding-bottom: 4.5rem;
}
._1N9mu._2B2aZ {
    border-bottom: 1px solid #d6d4ce;
}
._2kzwC {
    padding: 3rem 2rem;
    background: #faf9f8;
}
@media (min-width: 37.5em) {
    ._2kzwC {
        padding: 6rem 0;
    }
}
@media (min-width: 62em) {
    ._2kzwC {
        padding: 9rem 0;
    }
}
._5qT5g h4 {
    margin-bottom: 3.2rem;
}
._6QIyg {
    background-color: #004c3f;
    color: #fff;
}
._1Qv64 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
._3tyWh,
._30k0v {
    margin: 0 1.6rem 1.6rem 0;
}
._3tyWh {
    min-width: 12rem;
}
._3PhQ1 {
    background-color: #fff;
    padding: 3.2rem 2rem;
}
@media (min-width: 37.5em) {
    ._3PhQ1 {
        padding: 3.2rem 0;
    }
}
@media (min-width: 62em) {
    ._3PhQ1 {
        padding: 6rem 0;
    }
}
._1TUn1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 3rem;
    margin-bottom: 6rem;
}
@media (min-width: 37.5em) {
    ._1TUn1 {
        grid-template-columns: repeat(6, 1fr);
        grid-column-gap: 3rem;
        grid-row-gap: 4rem;
    }
}
@media (min-width: 48em) {
    ._1TUn1 {
        grid-template-columns: repeat(9, 1fr);
        grid-column-gap: 4rem;
        grid-row-gap: 6rem;
    }
}
@media (min-width: 62em) {
    ._1TUn1 {
        grid-template-columns: repeat(12, 1fr);
    }
}
._1DhtR {
    grid-column: span 3;
    display: none;
}
._1DhtR:nth-of-type(-n + 4) {
    display: block;
}
@media (min-width: 48em) {
    ._1DhtR:nth-of-type(-n + 6) {
        display: block;
    }
}
@media (min-width: 62em) {
    ._1DhtR:nth-of-type(n) {
        display: block;
    }
}
.cTs4F {
    text-align: center;
}
.QiiJu {
    align-self: center;
    grid-column: span 6 / auto;
    margin-bottom: 2rem;
}
@media (min-width: 37.5em) {
    .QiiJu {
        margin: 0 auto;
        max-width: 586px;
    }
}
.QiiJu p {
    color: #42474c;
    font-size: 1.8rem;
    line-height: 3rem;
    margin-top: 3.2rem;
    white-space: pre-wrap;
}
@media (max-width: 37.5em) {
    .QiiJu p {
        margin-top: 1.6rem;
        font-size: 1.5rem;
        line-height: 2rem;
    }
}
.iDgOU h4 {
    line-height: 2.4rem;
}
@media (min-width: 37.5em) {
    .iDgOU h4 {
        margin-bottom: 1.6rem;
        line-height: 3.2rem;
    }
}
@media (min-width: 62em) {
    .iDgOU h4 {
        margin-bottom: 1.6rem;
        line-height: 4.8rem;
    }
}
._3GTi5 {
    grid-column: span 6 / auto;
}
@media (max-width: 62em) {
    ._3GTi5 {
        margin-top: 2rem;
    }
}
._3IeK_ {
    width: 100%;
    object-fit: cover;
}
@media (max-width: 62em) {
    ._3IeK_ {
        display: block;
        max-width: 78.6rem;
        margin-left: auto;
        margin-right: auto;
    }
}
.d8p2v {
    background-color: #fff;
    padding: 7.5rem 0;
}
@media (max-width: 62em) {
    .d8p2v {
        padding: 3.2rem 0;
    }
}
.bvzuT {
    padding-top: 12rem;
}
@media (max-width: 62em) {
    .bvzuT {
        padding-top: 6.4rem;
    }
}
.T48Q_ {
    padding-bottom: 12rem;
}
@media (max-width: 62em) {
    .T48Q_ {
        padding-bottom: 6.4rem;
    }
}
._2cpb_ {
    max-width: 120rem;
    margin: 0 auto;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 4rem;
}
@media (max-width: 62em) {
    ._2cpb_ {
        display: block;
    }
}
@media (max-width: 48em) {
    ._2cpb_ {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}
._3uAGR .VK8Iz {
    margin-top: 3.2rem;
    margin-bottom: 0;
}
._3Pc_K {
    grid-column: 7 / span 6;
    grid-row: 1/1;
}
._2DJcY {
    grid-column: 1 / span 6;
    grid-row: 1/1;
    align-self: center;
}
@media (min-width: 90.625em) {
    ._2DJcY {
        position: relative;
        height: 50.8rem;
    }
}
@media (max-width: 62em) {
    ._2DJcY {
        margin-top: 6rem;
    }
}
@media (min-width: 90.625em) {
    ._3S7mC {
        position: absolute;
        right: 0;
        bottom: 0;
        width: auto;
        height: 100%;
    }
}
@media (max-width: 90.625em) {
    ._3S7mC {
        width: 100%;
        object-fit: contain;
    }
}
@media (max-width: 62em) {
    ._3S7mC {
        display: block;
        max-width: 78.6rem;
        margin-left: auto;
        margin-right: auto;
    }
}
.HXMNC {
    display: none;
    width: auto;
    object-fit: none;
}
@media (min-width: 90.625em) {
    .HXMNC {
        position: absolute;
        z-index: 1;
        top: -70px;
        right: 530px;
        display: block;
    }
}
.d6M_L {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 4rem;
}
@media (max-width: 37.5em) {
    .d6M_L {
        display: block;
    }
}
@media (max-width: 62em) {
    .d6M_L {
        padding-left: 0;
        padding-right: 0;
    }
}
.yXSs- {
    align-self: stretch;
    grid-column: 3 / span 10;
    grid-row: 1 / auto;
    background: #fff8f8;
    display: none;
}
@media (min-width: 37.5em) {
    .yXSs- {
        display: block;
    }
}
.jI2mn {
    z-index: 1;
    align-self: center;
    grid-column: 6 / span 6;
    grid-row: 1 / auto;
    padding: 6rem 0;
    margin: 0;
    white-space: pre-wrap;
}
@media (max-width: 37.5em) {
    .jI2mn {
        background: #fff8f8;
        padding: 3.2rem 20px 200px;
    }
}
.jI2mn h4 {
    color: #202223;
}
.jI2mn em {
    font-style: normal;
    color: #004c3f;
}
.pKzFc {
    z-index: 1;
    grid-column: 1/6;
    grid-row: 1 / auto;
    padding: 6rem 0;
}
@media (max-width: 62em) {
    .pKzFc {
        padding: 0;
    }
}
@media (max-width: 37.5em) {
    .pKzFc {
        padding: 0;
        margin: -16rem 0 0;
    }
    .pKzFc img {
        width: 75%;
        max-width: 499px;
        margin: 0;
    }
}
.uHRtj {
    background-color: #fff;
    padding: 12rem 0;
}
@media (max-width: 62em) {
    .uHRtj {
        padding: 6.4rem 1.6rem;
    }
}
._3h6xd {
    margin: 0 0 6rem 0;
}
@media (max-width: 37.5em) {
    ._3h6xd {
        margin: 0 0 1.6rem 0;
    }
}
@media (max-width: 62em) {
    ._3h6xd {
        margin: 0 0 3.2rem 0;
    }
}
._3unZR {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 4rem;
}
@media (max-width: 62em) {
    ._3unZR {
        display: block;
    }
}
.HQy2y {
    grid-column: span 6;
    transition: box-shadow 0.2s;
    cursor: pointer;
}
@media (max-width: 62em) {
    .HQy2y {
        margin-bottom: 6rem;
    }
    .HQy2y:last-of-type {
        margin-bottom: 0;
    }
}
@media (max-width: 37.5em) {
    .HQy2y {
        margin-bottom: 3.2rem;
    }
    .HQy2y:last-of-type {
        margin-bottom: 0;
    }
}
.TGPP5 {
    color: #008060;
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 600;
    margin-top: 1.6rem;
}
.TGPP5:focus,
.TGPP5:hover {
    color: #004c3f;
}
@media (max-width: 37.5em) {
    .TGPP5 {
        font-size: 1.5rem;
        font-weight: 400;
    }
}
.C6-9n {
    margin-left: 0.3em;
    vertical-align: middle;
    height: 0.5em;
}
.A0_Wj {
    padding: 4rem 0;
    background: #faf9f8;
}
@media (max-width: 62em) {
    .A0_Wj {
        padding: 6.4rem 0;
    }
}
@media (max-width: 37.5em) {
    ._2w12M {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}
._1osS7 {
    white-space: pre-wrap;
}
._1osS7 h4 {
    color: #008060;
    line-height: 2.4rem;
    margin-bottom: 3.5rem;
}
@media (max-width: 48em) {
    ._1osS7 h4 {
        margin-bottom: 3.2rem;
    }
}
@media (min-width: 37.5em) {
    ._1osS7 h4 {
        line-height: 3.2rem;
    }
}
@media (min-width: 62em) {
    ._1osS7 h4 {
        line-height: 4.8rem;
    }
}
._2OXun {
    display: grid;
}
@media (min-width: 37.5em) {
    ._2OXun {
        grid-template-columns: repeat(4, 1fr 3.6rem 1fr);
        grid-column-gap: 2rem;
    }
}
@media (max-width: 37.5em) {
    ._2OXun {
        grid-row-gap: 1rem;
    }
}
._1F9Hq {
    position: relative;
    font-size: 4.8rem;
    line-height: 4.8rem;
    text-align: center;
}
@media (min-width: 37.5em) {
    ._1F9Hq {
        grid-column-end: span 1;
        grid-row: 1/1;
    }
    ._1F9Hq._3zwi9 {
        grid-column-start: 2;
    }
    ._1F9Hq._3TUx6 {
        grid-column-start: 5;
    }
    ._1F9Hq._31X8p {
        grid-column-start: 8;
    }
    ._1F9Hq._3gPeS {
        grid-column-start: 11;
    }
}
@media (min-width: 37.5em) {
    .a6STt {
        grid-column-end: span 2;
        grid-row: 1/1;
        align-self: center;
    }
    .a6STt._3zwi9 {
        grid-column-start: 3;
    }
    .a6STt._3TUx6 {
        grid-column-start: 6;
    }
    .a6STt._31X8p {
        grid-column-start: 9;
    }
}
@media (max-width: 37.5em) {
    .a6STt {
        justify-self: center;
    }
}
._2b5gw {
    position: relative;
    overflow: hidden;
    margin: 1rem 0;
}
._2b5gw img {
    position: absolute;
}
@media (min-width: 37.5em) {
    ._2b5gw {
        height: 0.8rem;
    }
    ._2b5gw img {
        right: 0;
    }
}
@media (max-width: 37.5em) {
    ._2b5gw {
        height: 4.4rem;
        width: 0.8rem;
    }
    ._2b5gw img {
        right: 100%;
        bottom: 0;
        transform: rotate(90deg);
        transform-origin: bottom right;
        max-width: none !important;
    }
}
._3cHUR {
    margin: 3.4rem auto 0;
    font-size: 1rem;
    /* line-height: 2.8rem; */
    text-align: center;
}
@media (min-width: 37.5em) {
    ._3cHUR {
        grid-column: span 3 / auto;
        grid-row: 2/2;
    }
}
@media (max-width: 37.5em) {
    ._3cHUR {
        margin-top: 0;
        max-width: 27.8rem;
    }
}
.Z5NEO {
    position: relative;
    background: #002e25;
}
._1X0FO {
    margin-bottom: 3.2rem;
}
.RONZ7 {
    color: #dff7e5;
}
.P1sFe {
    color: #69cf9c;
}
.iARVD {
    max-width: 120rem;
    display: flex;
    flex-wrap: wrap;
}
@media (min-width: 37.5em) {
    .iARVD {
        flex-wrap: nowrap;
    }
}
@media (min-width: 75em) {
    .iARVD {
        margin: 0 auto;
    }
}
._3VwkG {
    width: 100%;
    padding: 6rem 2rem;
}
@media (min-width: 37.5em) {
    ._3VwkG {
        width: 55%;
    }
}
@media (min-width: 48em) {
    ._3VwkG {
        width: 50%;
    }
}
@media (min-width: 62em) {
    ._3VwkG {
        padding-top: 12rem;
        padding-bottom: 9.5rem;
        padding-right: 3.2rem;
    }
}
@media (min-width: 75em) {
    ._3VwkG {
        width: 55%;
        padding-bottom: 16rem;
        padding-top: 16rem;
        padding-right: 3.2rem;
    }
}
.nywsQ {
    color: #fff;
    margin-bottom: 3.2rem;
    font-size: 1.5rem;
    line-height: 2rem;
}
@media (min-width: 62em) {
    .nywsQ {
        font-size: 1.8rem;
        line-height: 3rem;
    }
}
._39eHG {
    position: relative;
    align-self: flex-end;
}
@media (min-width: 37.5em) {
    ._39eHG {
        width: 45%;
    }
}
@media (min-width: 48em) {
    ._39eHG {
        width: 50%;
    }
}
@media (min-width: 75em) {
    ._39eHG {
        position: absolute;
        right: 0;
        bottom: auto;
        height: 100%;
        width: 45%;
    }
}
.hh5cZ {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%;
    margin-left: 25%;
    max-width: 63.6rem;
}
@media (min-width: 37.5em) {
    .hh5cZ {
        margin-left: 0;
        margin-top: 0;
    }
}
._2rWxc {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 50%;
    background: #faf9f8;
}
@media (min-width: 37.5em) {
    ._2rWxc {
        display: none;
    }
}
._2MiL0 {
    max-width: 100%;
    max-height: 100%;
}
@media (min-width: 37.5em) {
    ._2MiL0 {
        padding-top: 5.5rem;
        transform: none;
    }
}
@media (min-width: 75em) {
    ._2MiL0 {
        transform: translateY(6rem);
        max-width: 63.6rem;
        width: 100%;
        height: auto;
        padding-top: 0;
    }
}
._15bCW {
    position: absolute;
    bottom: 50%;
    left: 0;
    transform: translate(-50%, 50%);
    width: 6rem;
    height: 6rem;
}
@media (min-width: 37.5em) {
    ._15bCW {
        bottom: 0;
        width: 8rem;
        height: 8rem;
    }
}
@media (min-width: 48em) {
    ._15bCW {
        width: 13rem;
        height: 13rem;
    }
}
@media (min-width: 75em) {
    ._15bCW {
        width: 21.6rem;
        height: 21.6rem;
    }
}
._1PvgB {
    position: absolute;
    top: 30%;
    right: 2rem;
    width: 3rem;
    height: 3rem;
}
@media (min-width: 37.5em) {
    ._1PvgB {
        top: calc(25% + 5.5rem);
        width: 4rem;
        height: 4rem;
    }
}
@media (min-width: 48em) {
    ._1PvgB {
        width: 6.5rem;
        height: 6.5rem;
    }
}
@media (min-width: 75em) {
    ._1PvgB {
        top: calc(20% + 11.5rem);
        width: 10.8rem;
        height: 10.8rem;
    }
}
@media (min-width: 96.25em) {
    ._1PvgB {
        right: 0;
        transform: translate(50%);
    }
}
._3mygT:focus {
    outline: none;
    box-shadow: 0 0 0 1px #002e25, 0 0 0 3px #0094fc;
}
body,
html {
    border: 0;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    color: #202223;
    --p-text-subdued: #6d7175;
    --p-card-shadow: 0 0.2rem 0.4rem #dfe3e8;
}
button {
    background-color: initial;
}
.iCVsB {
    background-color: #fff;
}
