._1sx1020z {
    padding-left: 40px !important;
    padding-right: 40px !important;
    margin-top: 80px !important;
    max-width: 1600px !important;
}

@media (min-width: 1128px) {
    ._1sx1020z {
        position: relative !important;
        max-width: 1760px !important;
        padding-right: 80px !important;
        padding-left: 80px !important;
        margin: 0px auto !important;
    }
}
@media (min-width: 744px) {
    ._1sx1020z {
        /* padding-left: 40px !important;
        padding-right: 40px !important; */
        padding-left: 80px !important;
        padding-right: 80px !important;
    }
}
@media (min-width: 744px) {
    ._aov0j6 {
        /* margin-top: 40px !important;
        margin-bottom: 40px !important; */
        margin-top: 80px !important;
        margin-bottom: 80px !important;
    }
}
._115dvcs {
    color: rgb(34, 34, 34) !important;
    display: flex !important;
}
._1ahen39n {
    -webkit-box-align: center !important;
    display: flex !important;
    align-items: center !important;
    margin-bottom: 16px !important;
}
._1jhv5oh {
    color: rgb(34, 34, 34) !important;
    /* font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important; */
    font-weight: 400 !important;
    width: 100% !important;
    margin-bottom: 8px !important;
}
._1mafdrow {
    font-weight: 600 !important;
    margin-bottom: 16px !important;
    font-size: 32px !important;
    line-height: 40px !important;
}
._2glt9f {
    font-size: 16px !important;
    line-height: 24px !important;
}

._kbiv5c {
    margin-bottom: 12px !important;
    margin-top: 8px !important;
}
._19iz9mwo {
    display: grid !important;
}
._19iz9mwo {
    display: flex !important;
    flex-wrap: wrap !important;
    margin-bottom: -16px !important;
    margin-left: -8px !important;
    margin-right: -8px !important;
    margin-top: -8px !important;
    grid-template-columns: repeat(auto-fill, minmax(231px, 1fr)) !important;
}
@media (max-width: 743px) {
    ._19iz9mwo {
        grid-template-columns: 1fr 1fr !important;
        display: grid !important;
    }
}

._1xizdrk {
    max-width: 50% !important;
    min-width: 50% !important;
    padding-bottom: 16px !important;
    padding-left: 8px !important;
    padding-right: 8px !important;
    padding-top: 8px !important;
    max-width: none !important;
}
@media (min-width: 744px){
    ._1xizdrk {
        max-width: 33.3333% !important;
        min-width: 33.3333% !important;
    }
}
@media (min-width: 1128px) {
    ._1xizdrk {
        max-width: 25% !important;
        min-width: 25% !important;
    }
}
@media (min-width: 1440px) {
    ._1xizdrk {
        max-width: 20% !important;
        min-width: 20% !important;
    }
}
._1xl0u0x {
    color: rgb(34, 34, 34) !important;
    position: relative !important;
    text-align: left !important;
}
._6lth7f {
    color: inherit !important;
    cursor: pointer !important;
    display: block !important;
    text-align: inherit !important;
    height: 100% !important;
    width: 100% !important;
    background: transparent !important;
    border-width: initial !important;
    border-style: none !important;
    border-color: initial !important;
    border-image: initial !important;
    margin: 0px !important;
    padding: 0px !important;
    text-decoration: none !important;
}
._6i8igo {
    -webkit-mask-image: -webkit-radial-gradient(center, white, black) !important;
    margin-bottom: 8px !important;
    position: relative !important;
    border-radius: 8px !important;
    overflow: hidden !important;
}
@media (min-width: 744px){
    ._6i8igo {
        margin-bottom: 12px !important;
    }
}

._e296pg {
    position: relative !important;
}
._hxt6u1e {
    position: relative !important;
    background-position: 50% 50% !important;
    background-repeat: no-repeat !important;
    padding-top: 133.333%;
}
._4626ulj {
    -webkit-box-pack: center !important;
    -webkit-box-align: center !important;
    position: absolute !important;
    top: 0px !important;
    bottom: 0px !important;
    left: 0px !important;
    right: 0px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}
._91slf2a {
    height: 100% !important;
    width: 100% !important;
    position: static !important;
}
._91slf2a {
    top: 0px !important;
    bottom: 0px !important;
    left: 0px !important;
    right: 0px !important;
    /* height: 0px !important;
    width: 0px !important;
    position: absolute !important; */
}

._10xjrv2u {
    display: none !important;
    background-image: none !important;
}
._10xjrv2u {
    display: inline-block !important;
    vertical-align: bottom !important;
    height: 100% !important;
    width: 100% !important;
    position: absolute !important;
    top: 0px !important;
    bottom: 0px !important;
    left: 0px !important;
    right: 0px !important;
    background-position: 50% 50% !important;
    background-repeat: no-repeat !important;
}
._1ycij1l {
    font-size: 10px !important;
    line-height: 12px !important;
    font-weight: 800 !important;
    margin-bottom: 4px !important;
    text-transform: uppercase !important;
}
@media (min-width: 744px) {
    ._1ycij1l {
        font-size: 14px !important;
        line-height: 16px !important;
        font-weight: 600 !important;
        margin-bottom: 6px !important;
    }
}

._1qusvl7 {
    font-size: 14px !important;
    line-height: 18px !important;
    overflow-wrap: break-word !important;
}
@media (min-width: 744px) {
    ._1qusvl7 {
        font-size: 16px !important;
        line-height: 20px !important;
    }    
}
._8fcvqx {
    font-size: 14px !important;
    line-height: 18px !important;
    margin-top: 4px !important;
}
@media (min-width: 744px){
    ._8fcvqx {
        font-size: 16px !important;
        line-height: 20px !important;
        margin-top: 6px !important;
    }
}
._11hau3k {
    margin: 0px !important;
    padding: 0px !important;
}
._g86r3e {
    /* display: inline !important; */
}

._1i5khuz {
    font-size: 12px !important;
    line-height: 16px !important;
}
@media (min-width: 744px){
    ._1i5khuz {
        font-size: 14px !important;
        line-height: 18px !important;
        margin-top: 2px !important;
    }
}
._krjbj {
    border: 0px !important;
    clip: rect(0 0 0 0) !important;
    -webkit-clip-path: inset(100%) !important;
    clip-path: inset(100%) !important;
    height: 1px !important;
    overflow: hidden !important;
    padding: 0px !important;
    position: absolute !important;
    white-space: nowrap !important;
    width: 1px !important;
}
._1rzj9z6 {
    -webkit-box-align: center !important;
    align-items: center !important;
    display: flex !important;
}
._1cfjn4v {
    display: inline-flex !important;
    font-size: calc(100% - 2px) !important;
}
._a7a5sx {
    color: rgb(113, 113, 113) !important;
}
._1lso56r {
    -webkit-box-pack: justify !important;
    -webkit-box-direction: reverse !important;
    -webkit-box-orient: horizontal !important;
    display: flex !important;
    flex-direction: row-reverse !important;
    justify-content: space-between !important;
    left: 8px !important;
    pointer-events: none !important;
    position: absolute !important;
    right: 8px !important;
    top: 8px !important;
}
@media (min-width: 744px) {
    ._1lso56r {
        left: 12px !important;
        right: 12px !important;
        top: 12px !important;
    }
}
/* ._lckgr8w {
    pointer-events: auto !important;
}
@media (min-width: 1128px){
    ._lckgr8w {
        opacity: 0 !important;
    }    
} */
._1vl7zve8 {
    font-size: 12px !important;
    line-height: 16px !important;
    font-weight: 600 !important;
    height: 20px !important;
    margin-right: 8px !important;
    text-overflow: ellipsis !important;
    text-transform: uppercase !important;
    white-space: nowrap !important;
    background-color: rgb(0, 0, 0) !important;
    color: rgb(255, 255, 255) !important;
    border-radius: 4px !important;
    overflow: hidden !important;
    padding: 2px 6px !important;
}
._1vl7zve8.ready_for_sale {
    background-color: var(--light-color) !important;
}
.star-icon{
    height: 0.7em; 
    width: 0.7em; 
    fill: currentcolor;
}